# 开发文件
node_modules
.next
.git
.pnpm-store
.cache
.npm

# 日志文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 环境文件
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# 编辑器文件
.vscode
.idea
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db
