# dependencies
node_modules
.pnpm-store
.npm
.yarn

# development files
.git
.gitignore
.env
.env.*
*.log
README.md
CHANGELOG.md
docs

# IDE
.vscode
.idea
*.swp
*.swo

# testing
coverage
__tests__
**/*.test.*
**/*.spec.*

# build outputs
.next
dist
build
out

# debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store
Thumbs.db
